Repository VazardAU/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/cluster, area/terraform, area/talos

fix
  kubernetes/apps/default/n8n/app/externalsecret.yaml
Labels: area/cluster

disable
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/cluster

rem auth
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/cluster

deploy nextcloud
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/nextcloud/app/backups/kustomization.yaml
  kubernetes/apps/default/nextcloud/app/backups/replicationsource.yaml
  kubernetes/apps/default/nextcloud/app/backups/restic.sops.yaml
  kubernetes/apps/default/nextcloud/app/externalsecret.yaml
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/apps/default/nextcloud/app/kustomization.yaml
  kubernetes/apps/default/nextcloud/app/volume.yaml
  kubernetes/apps/default/nextcloud/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/nextcloud.yaml
Labels: area/cluster

fix
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

change image
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

revert
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

images
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

remove config
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

remove extdns
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/cluster

test
  kubernetes/apps/default/nextcloud/app/externalsecret.yaml
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

deploy navidrome
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/navidrome/app/backups/kustomization.yaml
  kubernetes/apps/default/navidrome/app/backups/replicationsource.yaml
  kubernetes/apps/default/navidrome/app/backups/restic.sops.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
  kubernetes/apps/default/navidrome/app/kustomization.yaml
  kubernetes/apps/default/navidrome/app/volume.yaml
  kubernetes/apps/default/navidrome/ks.yaml
Labels: area/cluster

clean up renovate
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/workflows/broken-link-check.yaml
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/link-check.yaml
  .github/workflows/meta-labeler.yml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/ci

disable
  kubernetes/apps/default/n8n/app/kustomization.yaml
Labels: area/cluster

vscode update
  .vscode/settings.json
Labels: none

redeploy
  kubernetes/apps/default/n8n/app/kustomization.yaml
Labels: area/cluster

tempnfs
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/cluster

remove temp
  kubernetes/apps/default/n8n/app/helmrelease.yaml
Labels: area/cluster

ingress change
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
Labels: area/cluster

rem nc
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
Labels: area/cluster

cidr
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
Labels: area/cluster

test
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
Labels: area/cluster

auth tweak
  kubernetes/apps/default/authelia/app/config/configuration.yml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
Labels: area/cluster

more auth
  kubernetes/apps/default/authelia/app/config/configuration.yml
  kubernetes/apps/default/navidrome/app/helmrelease.yaml
Labels: area/cluster

test
  kubernetes/apps/default/authelia/app/config/configuration.yml
Labels: area/cluster

test
  kubernetes/apps/default/authelia/app/config/configuration.yml
Labels: area/cluster

auth tweak
  kubernetes/apps/default/authelia/app/config/configuration.yml
Labels: area/cluster

test
  kubernetes/apps/default/authelia/app/config/configuration.yml
Labels: area/cluster

test
  kubernetes/apps/default/authelia/app/config/configuration.yml
Labels: area/cluster

test
  kubernetes/apps/default/authelia/app/config/configuration.yml
Labels: area/cluster

deploy tailscale-relay
  clusterconfig/talosconfig
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/tailscale-relay/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale-relay/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale-relay/app/kustomization.yaml
  kubernetes/apps/networking/tailscale-relay/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/mvisionneau.yaml
Labels: area/cluster

typo
  kubernetes/flux/repositories/helm/mvisonneau.yaml
Labels: area/cluster

test
  kubernetes/apps/networking/tailscale-relay/app/kustomization.yaml
  kubernetes/apps/networking/tailscale-relay/app/rbac.yaml
Labels: area/cluster

test
  kubernetes/apps/networking/tailscale-relay/app/rbac.yaml
Labels: area/cluster

revert
  kubernetes/apps/networking/kustomization.yaml
Labels: area/cluster

ext
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/cluster

redeploy nextcloud
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/nextcloud/app/externalsecret.yaml
  kubernetes/apps/default/nextcloud/app/helmrelease-old.yaml
  kubernetes/apps/default/nextcloud/app/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

pvc
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

fix ingress
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/nextcloud/app/kustomization.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/ci:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
