Repository VazardAU/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/cluster, area/terraform, area/talos

change secret
  kubernetes/apps/default/nextcloud/app/externalsecret.yaml
Labels: area/cluster

update
  kubernetes/apps/default/glauth/app/config/users.sops.toml
Labels: area/cluster

update name
  kubernetes/apps/default/authelia/app/patches/env.yaml
Labels: area/cluster

cron
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

sec context
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

change cron config
  kubernetes/apps/default/nextcloud/app/cronjob.yaml
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
  kubernetes/apps/default/nextcloud/app/kustomization.yaml
Labels: area/cluster

deploy cloudflared
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

deploy cloudflared
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
Labels: area/cluster

fix
  kubernetes/apps/networking/cloudflared/ks.yaml
Labels: area/cluster

domain
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
Labels: area/cluster

kick
  kubernetes/apps/networking/kustomization.yaml
Labels: area/cluster

kick
  kubernetes/apps/networking/kustomization.yaml
Labels: area/cluster

fix
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/cluster

tweak
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/cluster

id
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/cluster

redo
  kubernetes/apps/networking/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/networking/kustomization.yaml
Labels: area/cluster

fix
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
Labels: area/cluster

update
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/cluster

test
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/cluster

test
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/cluster

test
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/cluster

ext config
  kubernetes/apps/default/authelia/app/config/configuration.yml
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/cluster

fix var
  kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/apps/networking/ingress-nginx/app/cloudflare-proxied-networks.txt
Labels: area/cluster

fix var
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
Labels: area/cluster

cf update
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/cluster

configmap
  kubernetes/apps/networking/ingress-nginx/app/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/cluster

bunch of stuff
  kubernetes/apps/default/games-on-whales/app/backups/kustomization.yaml
  kubernetes/apps/default/games-on-whales/app/backups/replicationsource.yaml
  kubernetes/apps/default/games-on-whales/app/backups/restic.sops.yaml
  kubernetes/apps/default/games-on-whales/app/externalsecret.yaml
  kubernetes/apps/default/games-on-whales/app/helmrelease.yaml
  kubernetes/apps/default/games-on-whales/app/kustomization.yaml
  kubernetes/apps/default/games-on-whales/app/volume.yaml
  kubernetes/apps/default/games-on-whales/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/runtimeclass.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/ks.yaml
  kubernetes/flux/repositories/helm/angelnu.yaml
  kubernetes/flux/repositories/helm/nvidia-device-plugin.yaml
  talos/cluster-0/patches/gpu-worker-patch.yaml
  talos/cluster-0/talconfig.yaml
Labels: area/cluster, area/talos

disable
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/tinfoil-hat/app/helmrelease.yaml
Labels: area/cluster

Update helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/cluster

gpu
  talos/cluster-0/patches/gpu-worker-patch.yaml
Labels: area/talos

update secret
  kubernetes/apps/default/authelia/app/config/configuration.yml
Labels: area/cluster

update secret
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

jf oauth
  kubernetes/apps/default/authelia/app/config/configuration.yml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

deploy oauth proxy
  kubernetes/apps/default/nextcloud/app/helmrelease-old.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/namespace.yaml
  kubernetes/apps/security/oauth2-proxy/app/externalsecret.yaml
  kubernetes/apps/security/oauth2-proxy/app/helmrelease.yaml
  kubernetes/apps/security/oauth2-proxy/app/kustomization.yaml
  kubernetes/apps/security/oauth2-proxy/ks.yaml
  kubernetes/flux/repositories/helm/dex.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/oauth2-proxy.yaml
Labels: area/cluster

update chart
  kubernetes/apps/security/oauth2-proxy/app/helmrelease.yaml
Labels: area/cluster

test oauth
  kubernetes/apps/default/external-ingress/ingress/external_minio.yaml
  kubernetes/apps/default/external-ingress/ingress/external_truenas.yaml
  kubernetes/apps/default/external-ingress/ks.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/cluster

rejig
  kubernetes/apps/security/oauth2-proxy/app/helmrelease.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/ci:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
