Repository VazardAU/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/cluster, area/terraform, area/talos

redo
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/cluster

test
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/app/clusterpolicy.yaml
Labels: area/cluster

test
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/cluster

more testing
  kubernetes/apps/auth-system/authentik/app/helmrelease.yaml
  kubernetes/apps/auth-system/authentik/app/outposts/ldap.yaml
  kubernetes/apps/auth-system/authentik/app/outposts/proxy.yaml
  kubernetes/apps/networking/ingress-nginx/app/clusterpolicy.yaml
Labels: area/cluster

test
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/ks.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/repositories/helm/weaveworks.yaml
Labels: area/cluster

test
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

tweaks
  .github/renovate.json5
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/ci, area/cluster

expand volume
  kubernetes/apps/default/jellyfin/app/volume.yaml
Labels: area/cluster

inital tf stuff
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  terraform/modules_common/1password/main.tf
  terraform/modules_common/1password/outputs.tf
  terraform/modules_common/1password/variables.tf
Labels: area/cluster, area/terraform

minio tf
  terraform/s3/backend.tf
  terraform/s3/main.tf
  terraform/s3/minio.tf
  terraform/s3/minio_bucket/main.tf
  terraform/s3/minio_bucket/outputs.tf
  terraform/s3/minio_bucket/variables.tf
  terraform/s3/providers.tf
Labels: area/terraform

test
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

test
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

test
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

extsec
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
  kubernetes/apps/default/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/default/cloudnative-pg/app/secret.sops.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/secret.sops.yaml
Labels: area/cluster

test
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

cleanup
  kubernetes/apps/default/cloudnative-pg/cluster/backups/external-backup.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/backups/kustomization.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/kustomization.yaml
Labels: area/cluster

test
  terraform/s3/minio.tf
Labels: area/terraform

move structure
  terraform/s3/modules/minio_bucket/main.tf
  terraform/s3/modules/minio_bucket/outputs.tf
  terraform/s3/modules/minio_bucket/variables.tf
Labels: area/terraform

deploy tf-controller
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/cluster

repo
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/cluster

temp disable
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/cluster

upgrade flux
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/cluster

oci
  kubernetes/flux/config/flux.yaml
Labels: area/cluster

revert patches for kustomizations
  kubernetes/apps/auth-system/authentik/app/kustomization.yaml
  kubernetes/apps/default/bazarr/app/kustomization.yaml
  kubernetes/apps/default/changedetection/app/kustomization.yaml
  kubernetes/apps/default/firefly-iii/app/kustomization.yaml
  kubernetes/apps/default/invidious/app/kustomization.yaml
  kubernetes/apps/default/mealie/app/kustomization.yaml
  kubernetes/apps/default/outline/app/kustomization.yaml
  kubernetes/apps/monitoring/vector/aggregator/kustomization.yaml
Labels: area/cluster

update task
  .taskfiles/Flux/Tasks.yml
Labels: none

redeploy
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/cluster

repo to https
  kubernetes/flux/config/cluster.yaml
Labels: area/cluster

create action for tf oci images
  .github/workflows/build-terraform-oci.yaml
Labels: area/ci

test
  .github/workflows/build-terraform-oci.yaml
Labels: area/ci

tweaks
  terraform/1password/main.tf
  terraform/1password/outputs.tf
  terraform/1password/variables.tf
Labels: area/terraform

test
  .github/workflows/build-terraform-oci.yaml
Labels: area/ci

disable auth
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/cluster

change name
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/cluster

reload secret
  kubernetes/apps/default/cloudnative-pg/app/helmrelease.yaml
Labels: area/cluster

back to 3
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

test
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

external ingress
  kubernetes/apps/default/external-ingress/ingress/external_hass.yaml
  kubernetes/apps/default/external-ingress/ingress/external_truenas.yaml
Labels: area/cluster

external ingress
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

fixes
  kubernetes/apps/default/external-ingress/ingress/external_hass.yaml
  kubernetes/apps/default/external-ingress/ingress/external_minio.yaml
  kubernetes/apps/default/external-ingress/ingress/external_truenas.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/ci:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
