Repository VazardAU/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/cluster, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/ci:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

retry
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

retry
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/redis/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/immich/app/volume.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/volume.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/immich/app/cli/helmrelease.yaml
  kubernetes/apps/default/immich/app/cli/kustomization.yaml
  kubernetes/apps/default/immich/app/kustomization.yaml
  kubernetes/apps/default/immich/app/volume.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

change cli
  kubernetes/apps/default/immich/app/cli/helmrelease.yaml
  kubernetes/apps/default/immich/app/cli/kustomization.yaml
  kubernetes/apps/default/immich/app/kustomization.yaml
  kubernetes/apps/default/immich/app/server/kustomization.yaml
  kubernetes/apps/default/immich/app/server/patches/cli.yaml
Labels: area/cluster

ok nope
  kubernetes/apps/default/immich/app/server/kustomization.yaml
  kubernetes/apps/default/immich/app/server/patches/cli.yaml
Labels: area/cluster

deploy changedetection
  kubernetes/apps/default/changedetection/app/backups/kustomization.yaml
  kubernetes/apps/default/changedetection/app/backups/replicationsource.yaml
  kubernetes/apps/default/changedetection/app/backups/restic.sops.yaml
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
  kubernetes/apps/default/changedetection/app/kustomization.yaml
  kubernetes/apps/default/changedetection/app/patches/browser.yaml
  kubernetes/apps/default/changedetection/app/volume.yaml
  kubernetes/apps/default/changedetection/ks.yaml
Labels: area/cluster

deploy unifi
  kubernetes/apps/networking/unifi/app/backups/kustomization.yaml
  kubernetes/apps/networking/unifi/app/backups/replicationsource.yaml
  kubernetes/apps/networking/unifi/app/backups/restic.sops.yaml
  kubernetes/apps/networking/unifi/app/helmrelease.yaml
  kubernetes/apps/networking/unifi/app/kustomization.yaml
  kubernetes/apps/networking/unifi/app/volume.yaml
  kubernetes/apps/networking/unifi/ks.yaml
Labels: area/cluster

deploy opnsense backup
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/opnsense/app/dashboard.json
  kubernetes/apps/networking/opnsense/app/externalsecret.yaml
  kubernetes/apps/networking/opnsense/app/helmrelease.yaml
  kubernetes/apps/networking/opnsense/app/kustomization.yaml
  kubernetes/apps/networking/opnsense/app/opnsense-backup.sh
  kubernetes/apps/networking/opnsense/ks.yaml
  kubernetes/apps/networking/opnsense/readme.md
Labels: area/cluster

deploy omada controller
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/omada/app/backups/kustomization.yaml
  kubernetes/apps/networking/omada/app/backups/replicationsource.yaml
  kubernetes/apps/networking/omada/app/backups/restic.sops.yaml
  kubernetes/apps/networking/omada/app/helmrelease.yaml
  kubernetes/apps/networking/omada/app/kustomization.yaml
  kubernetes/apps/networking/omada/app/volume.yaml
  kubernetes/apps/networking/omada/ks.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/cluster

rem health check
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/cluster

deploy changedetection and readarr
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/readarr/app/backups/kustomization.yaml
  kubernetes/apps/default/readarr/app/backups/replicationsource.yaml
  kubernetes/apps/default/readarr/app/backups/restic.sops.yaml
  kubernetes/apps/default/readarr/app/externalsecret.yaml
  kubernetes/apps/default/readarr/app/helmrelease.yaml
  kubernetes/apps/default/readarr/app/kustomization.yaml
  kubernetes/apps/default/readarr/app/volume.yaml
  kubernetes/apps/default/readarr/ks.yaml
Labels: area/cluster

deploy calibre
  kubernetes/apps/default/calibre-web/app/backups/kustomization.yaml
  kubernetes/apps/default/calibre-web/app/backups/replicationsource.yaml
  kubernetes/apps/default/calibre-web/app/backups/restic.sops.yaml
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
  kubernetes/apps/default/calibre-web/app/kustomization.yaml
  kubernetes/apps/default/calibre-web/app/volume.yaml
  kubernetes/apps/default/calibre-web/ks.yaml
  kubernetes/apps/default/calibre/app/backups/kustomization.yaml
  kubernetes/apps/default/calibre/app/backups/replicationsource.yaml
  kubernetes/apps/default/calibre/app/backups/restic.sops.yaml
  kubernetes/apps/default/calibre/app/helmrelease.yaml
  kubernetes/apps/default/calibre/app/kustomization.yaml
  kubernetes/apps/default/calibre/app/volume.yaml
  kubernetes/apps/default/calibre/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

fix secret
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
Labels: area/cluster

deploy multus
  .vscode/settings.json
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  kubernetes/apps/networking/multus/app/networkattachments/net-attach-iot.yaml
  kubernetes/apps/networking/multus/ks.yaml
Labels: area/cluster

gpu stuff
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  talos/cluster-0/patches/gpu-worker-patch.yaml
Labels: area/cluster, area/talos

redo
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

disable for now
  kubernetes/apps/default/calibre/app/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/cluster

add runtime
  kubernetes/apps/kube-system/nvidia-device-plugin/app/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/cluster

again
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/cluster

deploy libreddit
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/libreddit/app/helmrelease.yaml
  kubernetes/apps/default/libreddit/app/kustomization.yaml
  kubernetes/apps/default/libreddit/ks.yaml
Labels: area/cluster

deploy invidious
  kubernetes/apps/default/invidious/app/config/config.yml
  kubernetes/apps/default/invidious/app/helmrelease.yaml
  kubernetes/apps/default/invidious/app/kustomization.yaml
  kubernetes/apps/default/invidious/app/patches/postgres.yaml
  kubernetes/apps/default/invidious/ks.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

deploy nitter
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/nitter/app/config/config.yml
  kubernetes/apps/default/nitter/app/helmrelease.yaml
  kubernetes/apps/default/nitter/app/kustomization.yaml
  kubernetes/apps/default/nitter/ks.yaml
Labels: area/cluster

deploy whoogle
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/whoogle/app/helmrelease.yaml
  kubernetes/apps/default/whoogle/app/kustomization.yaml
  kubernetes/apps/default/whoogle/ks.yaml
Labels: area/cluster

tweaks
  kubernetes/apps/default/invidious/app/config/config.yml
Labels: area/cluster

charts
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/nvidia.yaml
Labels: area/cluster

test
  kubernetes/apps/kube-system/nvidia-device-plugin/app/helmrelease.yaml
Labels: area/cluster

default runtime
  talos/cluster-0/patches/nvidia-default-runtimeclass.yaml
Labels: area/talos

rem nvidia
  kubernetes/apps/default/games-on-whales/app/backups/kustomization.yaml
  kubernetes/apps/default/games-on-whales/app/backups/replicationsource.yaml
  kubernetes/apps/default/games-on-whales/app/backups/restic.sops.yaml
  kubernetes/apps/default/games-on-whales/app/externalsecret.yaml
  kubernetes/apps/default/games-on-whales/app/helmrelease.yaml
  kubernetes/apps/default/games-on-whales/app/kustomization.yaml
  kubernetes/apps/default/games-on-whales/app/volume.yaml
  kubernetes/apps/default/games-on-whales/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/runtimeclass.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/ks.yaml
Labels: area/cluster

fixup
  kubernetes/apps/default/tinfoil-hat/app/helmrelease.yaml
  talos/cluster-0/patches/gpu-worker-patch.yaml
  talos/cluster-0/patches/nvidia-default-runtimeclass.yaml
Labels: area/cluster, area/talos

kick
  kubernetes/apps/default/tinfoil-hat/app/helmrelease.yaml
Labels: area/cluster

kick
  kubernetes/apps/default/tinfoil-hat/app/helmrelease.yaml
Labels: area/cluster
