Repository VazardAU/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/cluster, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/ci:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

redeploy again
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

test
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

test
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

nope
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

deploy kubernetes schemas
  .github/workflows/publish-schemas.yaml
  kubernetes/apps/default/bazarr/app/externalsecret.yaml
  kubernetes/apps/default/bazarr/app/secret.sops.yaml
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/apps/default/kubernetes-schemas/app/kustomization.yaml
  kubernetes/apps/default/kubernetes-schemas/ks.yaml
  kubernetes/apps/default/mealie/app/helmrelease.yaml
Labels: area/ci, area/cluster

fix secret
  kubernetes/apps/default/bazarr/app/kustomization.yaml
Labels: area/cluster

fix action
  .github/workflows/publish-schemas.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/ci, area/cluster

rejig arc
  kubernetes/apps/actions-runner/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/apps/actions-runner/actions-runner-controller/runners/home-ops.yaml
  kubernetes/apps/actions-runner/actions-runner-controller/runners/kustomization.yaml
Labels: area/cluster

update chart
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
Labels: area/cluster

fix ns
  kubernetes/apps/actions-runner/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner/actions-runner-controller/runners/helmrelease.yaml
Labels: area/cluster

redo
  .github/workflows/krr.yaml
  .github/workflows/publish-schemas.yaml
  kubernetes/apps/actions-runner/kustomization.yaml
Labels: area/ci, area/cluster

redo
  kubernetes/apps/actions-runner/kustomization.yaml
Labels: area/cluster

change image
  kubernetes/apps/actions-runner/actions-runner-controller/app/volume.yaml
  kubernetes/apps/actions-runner/actions-runner-controller/runners/helmrelease.yaml
Labels: area/cluster

disable schedule
  .github/workflows/publish-schemas.yaml
Labels: area/ci

renable test
  .github/workflows/publish-schemas.yaml
Labels: area/ci

update kyverno to 3.0
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/rbac.yaml
Labels: area/cluster
