Repository VazardAU/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/ci, area/cluster, area/terraform, area/talos

redo
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

ip
  kubernetes/apps/default/external-ingress/ingress/external_hass.yaml
Labels: area/cluster

test
  kubernetes/apps/default/cloudnative-pg/app/externalsecret2.yaml
  kubernetes/apps/default/cloudnative-pg/app/kustomization.yaml
Labels: area/cluster

path
  terraform/s3/minio.tf
Labels: area/terraform

test
  kubernetes/apps/default/cloudnative-pg/cluster/kustomization.yaml
Labels: area/cluster

test
  .github/workflows/build-terraform-oci.yaml
Labels: area/ci

fix
  .github/workflows/build-terraform-oci.yaml
Labels: area/ci

test
  .github/workflows/build-terraform-oci.yaml
Labels: area/ci

test
  kubernetes/flux/repositories/oci/kustomization.yaml
  kubernetes/flux/repositories/oci/vazardau.yaml
Labels: area/cluster

tweak
  kubernetes/flux/config/cluster.yaml
Labels: area/cluster

tweak
  kubernetes/flux/repositories/oci/vazardau.yaml
Labels: area/cluster

tweak
  kubernetes/flux/repositories/oci/kustomization.yaml
  kubernetes/flux/repositories/oci/vazardau-tf.yaml
Labels: area/cluster

remove type
  kubernetes/flux/repositories/oci/vazardau-tf.yaml
Labels: area/cluster

more tf config
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/s3.yaml
  kubernetes/flux/repositories/kustomization.yaml
  terraform/s3/minio.tf
  terraform/s3/modules/minio_1password/main.tf
  terraform/s3/modules/minio_1password/outputs.tf
  terraform/s3/modules/minio_1password/variables.tf
Labels: area/cluster, area/terraform

tfs
  kubernetes/apps/flux-system/tf-controller/ks.yaml
Labels: area/cluster

redo
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/cluster

redo
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/cluster

disable backup
  kubernetes/apps/default/sonarr/app/kustomization.yaml
Labels: area/cluster

change cron to 15
  kubernetes/apps/default/nextcloud/app/cronjob.yaml
Labels: area/cluster

ns
  kubernetes/apps/flux-system/tf-controller/terraforms/s3.yaml
Labels: area/cluster

redeploy
  kubernetes/apps/default/cloudnative-pg/cluster/kustomization.yaml
Labels: area/cluster

remove tag
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

test
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/cluster

test
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

limits
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

attempt to fix
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

restore
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

redo
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

redos
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

source
  kubernetes/apps/flux-system/tf-controller/terraforms/s3.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/cluster

fix
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/cluster

fix
  kubernetes/flux/config/flux.yaml
Labels: area/cluster

more redos
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/cluster

disable auth
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/cluster

redo
  kubernetes/apps/auth-system/kustomization.yaml
Labels: area/cluster

upgrade rook to 1.12
  kubernetes/apps/rook-ceph/csi-addons/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/toolbox/helmrelease.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/repositories/git/kubernetes-csi-addons.yaml
  kubernetes/flux/repositories/git/kustomization.yaml
  kubernetes/flux/repositories/kustomization.yaml
Labels: area/cluster

redeploy postgres from backup
  kubernetes/apps/default/kustomization.yaml
Labels: area/cluster

tweaks
  kubernetes/flux/config/flux.yaml
Labels: area/cluster

redo
  kubernetes/apps/flux-system/tf-controller/app/kustomization.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/ci:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
